Repository shopware/shopware: changes, and which GitLab CI jobs are due for each by the changed paths.
All: PHP Unit, Validate snippets, E2E, Component Library, Generating docs, Upload Component Library

PHP Unit:
  stage: unit
  variables:
    TEST_SUITES: administration storefront checkout content framework profiling migration system elasticsearch docs
  timeout: 1h 00m
  script:
  - echo matrix config
  - echo EACH_MR $EACH_MR
  - echo Mysql $MYSQL_IMAGE
  - echo Mysql cmd $MYSQL_CMD
  - echo Dev template $DEV_IMAGE
  ...

Validate snippets:
  stage: unit
  timeout: 1h 00m
  services:
  - name: mariadb:10.3
    alias: mysql
  script:
  - ./psh.phar init
  - php bin/console snippets:validate

E2E:
  timeout: 2h 00m
  stage: E2E
  needs:
  - Javascript analysis
  dependencies: []
  services:
  - name: docker:18.09.7-dind
    alias: docker
  - name: mariadb:10.3
    alias: mysql
  script:
  - mkdir -p $HOME/.docker
  - echo "$DOCKER_AUTH_CONFIG" > $HOME/.docker/config.json
  - docker login
  - rm $HOME/.docker/config.json
  ...

Component Library:
  stage: Build
  image: node:10.8
  before_script: []
  dependencies: []
  needs:
  - Administration (Jest)
  - Storefront (Jest)
  variables:
    PROJECT_ROOT: $CI_PROJECT_DIR
  environment:
    name: Component Library
    url: https://component-library.shopware.com
  script:
  ...

Generating docs:
  stage: Generate docs
  dependencies: []
  services:
  - name: docker:18.09.7-dind
    alias: docker
  script:
  - mkdir -p $HOME/.docker
  - echo "$DOCKER_AUTH_CONFIG" > $HOME/.docker/config.json
  - docker login
  - rm $HOME/.docker/config.json
  ...

Upload Component Library:
  stage: Deploy
  image: python:latest
  before_script: []
  dependencies:
  - Component Library
  script:
  - pip install awscli
  - cd build/artifacts/component-library
  - aws s3 sync --delete --acl public-read . s3://shopware-ui-component-library-docs/
  ...

NEXT-13280 - skip the adr test if adr directory does not exist
  src/Core/Framework/Test/AdrTest.php
Due: none

Add twig blocks to metatag templates
  changelog/_unreleased/2021-03-18-add-twig-blocks-to-meta.md
  src/Storefront/Resources/views/storefront/layout/meta.html.twig
Due: Component Library, Upload Component Library

NEXT-13469 - Load extensions on tab change
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/store/index.js
Due: Component Library, Upload Component Library

NEXT-14282 - Use dashboard intro card instead of url to verify finished first-run-wizard
  src/Recovery/Test/e2e/cypress/integration/installer/basic.spec.js
Due: none

NEXT-14290 - Adjust tests
  src/Recovery/Test/e2e/cypress/integration/visual/category.spec.js
  src/Recovery/Test/e2e/cypress/integration/visual/checkout.spec.js
Due: none

NEXT-13989 - Fix removal of app metadata
  changelog/_unreleased/2021-03-18-fix-removal-of-app-metadata.md
  phpstan-baseline.neon
  src/Core/Framework/App/AppEntity.php
  src/Core/Framework/App/Lifecycle/AppLifecycle.php
  src/Core/Framework/Test/App/Lifecycle/AppLifecycleTest.php
  src/Storefront/Framework/Cookie/AppCookieProvider.php
Due: Component Library, Upload Component Library

NEXT-14343 - Make file systems public
  changelog/_unreleased/2021-03-09-make-filesyste-services-public-in-container.md
  src/Core/Framework/Bundle.php
  src/Core/Framework/DependencyInjection/filesystem.xml
Due: none

NTR: Fix ConfigSet on CLI for bool values
  src/Core/System/SystemConfig/SystemConfigService.php
  src/Core/System/Test/SystemConfig/SystemConfigServiceTest.php
Due: none

NEXT-14290 - Wait for cartInfo request to display cart amount
  src/Recovery/Test/e2e/cypress/integration/visual/checkout.spec.js
Due: none

NEXT-14338 - Shipping Country option also filters by billing address
  changelog/_unreleased/2021-03-19-shipping-country-option-also-filters-by-billing-address.md
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/index.js
Due: Component Library, Upload Component Library

NEXT-13834 - Fixed parameter editable in theme.json does not work as intended
  changelog/_unreleased/2021-03-19-parameter-editable-in-theme.json-does-not-work-as-intended.md
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/sw-theme-manager-detail.html.twig
Due: Component Library, Upload Component Library

NEXT-13807 - Move changelogs to unreleased folder
  changelog/_unreleased/2021-02-23-fix-vatId-is-deleted-after-update-billing-address.md
  changelog/_unreleased/2021-02-28-add-vatids-to-order-customer.md
Due: none

NEXT-14277 - Change the design product variants filter
  changelog/_unreleased/2021-03-17-change-the-design-product-variants-filter.md
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/sw-product-variants-overview.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/sw-products-variants-overview.scss
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/module/sw-product/component/sw-product-variants/sw-product-variants-overview.spec.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13858 - Restore indicator for displaying whether a cms layout is in use on any page already
  changelog/_unreleased/2021-03-17-adjust-indicator-designating-cms-layouts-already-in-use.md
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-list-item/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/sw-cms-list.html.twig
  src/Administration/Resources/app/administration/test/module/sw-cms/page/sw-cms-list.spec.js
Due: Component Library, Upload Component Library

NEXT-14288 - Fix German labels for status options
  src/Administration/Resources/app/administration/src/app/component/filter/sw-existence-filter/sw-existence-filter.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13445 - Refactor menu colors and fix behavior of the separator
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu-item/sw-admin-menu-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.scss
Due: Component Library, Upload Component Library

NEXT-13445 - Adds new tests
  src/Administration/Resources/app/administration/test/app/component/structure/_sw-admin-menu-item/catalogues.js
  src/Administration/Resources/app/administration/test/app/component/structure/sw-admin-menu-item.spec.js
  src/Administration/Resources/app/administration/test/app/component/structure/sw-admin-menu.spec.js
Due: Component Library, Upload Component Library

NEXT-14305 - Clears expanded menu entries after logout
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/index.js
  src/Administration/Resources/app/administration/src/app/state/admin-menu.store.js
Due: Component Library, Upload Component Library

NEXT-12948 - Added DataBag to BuildValidationEvent
  changelog/_unreleased/2021-03-19-add-data-bag-to-validation-events.md
  src/Core/Checkout/Customer/SalesChannel/ChangeCustomerProfileRoute.php
  src/Core/Checkout/Customer/SalesChannel/ChangeEmailRoute.php
  src/Core/Checkout/Customer/SalesChannel/ChangePasswordRoute.php
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Checkout/Customer/SalesChannel/ResetPasswordRoute.php
  src/Core/Checkout/Customer/SalesChannel/SendPasswordRecoveryMailRoute.php
  src/Core/Checkout/Customer/SalesChannel/UpsertAddressRoute.php
  src/Core/Checkout/Order/SalesChannel/OrderService.php
  src/Core/Content/ContactForm/Validation/ContactFormValidationFactory.php
  src/Core/Framework/Validation/BuildValidationEvent.php
  src/Storefront/Page/Checkout/Confirm/CheckoutConfirmPageLoader.php
Due: Component Library, Upload Component Library

NEXT-14073 - fix breadcrumb alignment
  src/Storefront/Resources/app/storefront/src/scss/base.scss
  src/Storefront/Resources/app/storefront/src/scss/page/content/_breadcrumb.scss
Due: Component Library, Upload Component Library

NEXT-13475 - Use referenceId instead of id for line item with quantity rule
  changelog/_unreleased/2021-03-19-use-reference-id-in-line-item-rules.md
  src/Core/Checkout/Cart/Rule/LineItemWithQuantityRule.php
  src/Core/Checkout/Test/Cart/LineItem/Group/RuleMatcher/AnyRuleMatcherTest.php
  src/Core/Checkout/Test/Cart/Rule/LineItemWithQuantityRuleTest.php
  src/Core/Checkout/Test/Rule/Rule/LineItem/LineItemWithQuantityRuleTest.php
Due: none

NEXT-13469 - Fix license violation modal
  src/Administration/Resources/app/administration/src/app/component/utils/sw-license-violation/index.js
  src/Administration/Resources/app/administration/src/app/component/utils/sw-license-violation/sw-license-violation.html.twig
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13759 - Remove feature flag of improve product UX
  changelog/_unreleased/2021-01-21-create-product-specifications-tab.md
  changelog/_unreleased/2021-01-28-create-product-specifications-content.md
  changelog/_unreleased/2021-02-01-create-product-seo-tab.md
  changelog/_unreleased/2021-02-04-create-product-reviews-tab.md
  changelog/_unreleased/2021-02-06-switch-advanced-mode-on-the-general-tab.md
  changelog/_unreleased/2021-02-24-replace-the-product-media-sidebar-by-a-media-modal.md
  changelog/_unreleased/2021-03-01-reordering-content-on-general-tab-of-the-product-module.md
  changelog/_unreleased/2021-03-05-switch-advanced-mode-on-the-specifications-tab.md
  changelog/_unreleased/2021-03-15-when-uncheck-checkbox-the-respecting-card-should-be-hidden.md
  changelog/_unreleased/2021-03-16-show-active-for-all-selected-sales-channels.md
  changelog/_unreleased/2021-03-18-improve-styling-for-product-detail-page.md
  src/Administration/Resources/app/administration/src/app/component/form/sw-list-price-field/sw-list-price-field.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/sw-product-basic-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-category-form/sw-product-category-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-deliverability-form/sw-product-deliverability-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-media-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-media-form/sw-product-media-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-packaging-form/sw-product-packaging-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-price-form/sw-product-price-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-base/sw-product-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-base/sw-product-detail-base.scss
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-reviews/sw-product-detail-reviews.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-seo/sw-product-detail-seo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/sw-product-detail-specifications.html.twig
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/acl.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/crud.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/edit-advanced-mode.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/edit-base-price.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/edit-property.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/catalogue/sw-product/edit-seo.spec.js
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/visual/admin/product.spec.js
  src/Administration/Resources/app/administration/test/module/sw-product/view/sw-product-detail-base.spec.js
  src/Core/Framework/Resources/config/packages/shopware.yaml
Due: PHP Unit, E2E, Component Library, Upload Component Library

NEXT-14294 - Improved proof check in app system
  changelog/_unreleased/2021-03-19-improve-proof-check.md
  src/Core/Framework/App/Lifecycle/Registration/AppRegistrationService.php
  src/Core/Framework/Test/App/Lifecycle/Registration/AppRegistrationServiceTest.php
Due: none

NEXT-13469 - fix translation in extension manager
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/en-GB.json
Due: Validate snippets, Component Library, Upload Component Library

NEXT-14299 - Fix missing translations for property groups and and property group options in variant generation
  src/Administration/Resources/app/administration/src/app/component/base/sw-property-search/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-delivery/sw-product-variants-delivery-media/sw-product-variants-delivery-media.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-delivery/sw-product-variants-delivery-order/index.js
  src/Administration/Resources/app/administration/test/app/component/base/sw-property-search.spec.js
Due: Component Library, Upload Component Library

NEXT-14372 - Add twig blocks to metatag templates
  changelog/_unreleased/2021-03-18-add-twig-blocks-to-meta.md
  src/Storefront/Resources/views/storefront/layout/meta.html.twig
Due: Component Library, Upload Component Library

NEXT-14370 - Check for router "to.name" to prevent potential JS error
  src/Administration/Resources/app/administration/src/core/factory/router.factory.js
Due: Component Library, Upload Component Library

NEXT-14372 - Add issue key
  changelog/_unreleased/2021-03-18-add-twig-blocks-to-meta.md
Due: none

NEXT-14310 - Fix snippets in improved product ux and number ranges
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product-stream/component/sw-product-stream-modal-preview/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-modal-variant-generation/sw-product-modal-variant-generation.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-settings-number-range/page/sw-settings-number-range-detail/sw-settings-number-range-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-number-range/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-number-range/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/e2e/cypress/support/pages/module/sw-product.page-object.js
Due: Validate snippets, Component Library, Upload Component Library

NEXT-13469 - Add backend for creation of rating
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-bought/sw-extension-card-bought.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.html.twig
  src/Core/Framework/DependencyInjection/store.xml
  src/Core/Framework/Store/Services/StoreClient.php
Due: Component Library, Upload Component Library

NEXT-13469 - Fix styling of rating modal
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-rating-modal/sw-extension-rating-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-rating-modal/sw-extension-rating-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/en-GB.json
  src/Core/Framework/Store/Services/StoreClient.php
  src/Core/Framework/Test/Store/Service/ExtensionStoreLicensesServiceTest.php
Due: Validate snippets, Component Library, Upload Component Library

NEXT-14380 - Dispatch AppDeletedEvent only once
  changelog/_unreleased/2021-03-20-dispatch-appdeletedevent-once.md
  src/Core/Framework/App/Lifecycle/AppLifecycle.php
  src/Core/Framework/Test/App/Lifecycle/AppLifecycleTest.php
Due: none

NEXT-14391 - Adjust test
  src/Administration/Resources/app/administration/test/e2e/cypress/integration/customer/sw-customer/filter.spec.js
Due: Component Library, Upload Component Library

NEXT-14299 - Add jest tests
  src/Administration/Resources/app/administration/test/module/sw-product/component/sw-product-variants/sw-propduct-variants-delivery/sw-product-variants-delivery-media.spec.js
  src/Administration/Resources/app/administration/test/module/sw-product/component/sw-product-variants/sw-propduct-variants-delivery/sw-product-variants-delivery-order.spec.js
Due: Component Library, Upload Component Library

NEXT-14393 - Fix broken ADR link in API versioning article
  src/Docs/Resources/current/50-how-to/790-api-versioning.md
Due: Generating docs

NEXT-14351 - Fixed to get Vat-ID from orderCustomer
  changelog/_unreleased/2021-03-22-the-vat-id-should-get-from-order-customer-within-the-order-mail-templates.md
  src/Core/Checkout/Test/Document/DocumentType/InvoiceServiceTest.php
  src/Core/Framework/Resources/views/documents/invoice.html.twig
  src/Core/Migration/Fixtures/mails/order_confirmation_mail/de-html.html.twig
  src/Core/Migration/Fixtures/mails/order_confirmation_mail/de-plain.html.twig
  src/Core/Migration/Fixtures/mails/order_confirmation_mail/en-html.html.twig
  src/Core/Migration/Fixtures/mails/order_confirmation_mail/en-plain.html.twig
  src/Core/Migration/Fixtures/mails/order_transaction.state.cancelled/de-html.html.twig
  src/Core/Migration/Fixtures/mails/order_transaction.state.cancelled/de-plain.html.twig
  src/Core/Migration/Fixtures/mails/order_transaction.state.cancelled/en-html.html.twig
  src/Core/Migration/Fixtures/mails/order_transaction.state.cancelled/en-plain.html.twig
  src/Core/Migration/Fixtures/mails/order_transaction.state.paid/de-html.html.twig
  src/Core/Migration/Fixtures/mails/order_transaction.state.paid/de-plain.html.twig
  src/Core/Migration/Fixtures/mails/order_transaction.state.paid/en-html.html.twig
  src/Core/Migration/Fixtures/mails/order_transaction.state.paid/en-plain.html.twig
Due: none

Path conditions:
  PHP Unit: any of: Migration*.php, **/Migration*.php, src/Core/Framework/Resources/config/packages/shopware.yaml
  Validate snippets: any of: src/**/snippet/**/*.json
  E2E: any of: Migration*.php, **/Migration*.php, src/Core/Framework/Resources/config/packages/shopware.yaml
  Component Library: any of: src/Administration/**/*, src/Storefront/**/*
  Generating docs: any of: src/Docs/**/*
  Upload Component Library: any of: src/Administration/**/*, src/Storefront/**/*
